---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

Empower local designers with the essential tools to achieve global excellence through the seamless integration of technology, genuine human connections, and unwavering authenticity.
`;
---

<Layout title="Welcome to Ardi">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Empowering local designers </h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
       <a
  href="mailto:support@ardi.ae"
  style="
    display: inline-block;
    background-color: #F56722;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
  "
>
  Contact Us
</a>

    </p>
</Layout>
